$maxWidth: 1200px;
body {
    height: 150vh;
    margin: 0;
}

#upper-nav {
    background-color: #333;
    color: #ccc;
    margin: auto;
    max-width: $maxWidth;
    display: flex;
    justify-content: space-between;
    .main-ul {
        display: flex;
        gap: 30px;
        list-style: none;
    }
}

.submenu {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 5px;
    li {
        background: inherit;
        padding: 10px;
        margin-right: 10px;
        a {
            color: #ccc;
            padding: 5px;
            text-decoration: none;
            &:hover {
                background: rgba(255, 255, 255, 1);
            }
        }
    }
}

input[type="checkbox"] {
    display: none;
    &:checked {
        &~ul {
            display: flex;
        }
    }
}

nav+nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
}